body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: whitesmoke;
    padding: 20px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}
.nav-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    margin-right: 20px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
}
header{
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
    .logo{
        height: 200px;
        width: 250px;
    }
}
#about{
    padding: 50px;
    text-align: center;
}
#skills{
    padding: 50px;
    background-color: whitesmoke;
    text-align: center;
}
.skills-list{
    list-style-type: none;
    padding: 0;
}
.skills-list li{
    display: inline-block;
    margin: 0 10px;
}
#projects{
    padding: 50px;
    text-align: center;
}
.project{
    display: block;
    margin-top: 10px;
}
#contact{
    padding: 50px;
    text-align: center;
    background-color: whitesmoke;
}
#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
#contact-form label{
    margin-bottom: 10px;
    background-color: whitesmoke;
}
#contact-form input,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
}
#contact-form button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}